.utl-main-div {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.utl-parent-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.utl-child-div {
  padding: 10px 20px;
  margin: 2px 20px 30px 20px;
  width: 550px;
  height:220px ;
  display: flex;
  background-color: #FFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius:5px;
}

.utl {
  display: flex;
}

.utl-img {
  display: flex;
  align-items: center;
}
.utl img {
  width: 200px;
  height: 180px;
  border-radius: 15px;
}

.utl-date {
  height: 100px;
  padding: 20px;
}

.utl-date h5 {
  font-family:  Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
}

.utl-date p{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
}

.utl-btn{
    display: flex;
    margin-top: 60px;
    margin-left: 200px;
    justify-content: flex-end;
}

.utl-btn-btn.btn-primary.btn{
    background-color:  #E3E3E3;
    color: #000;
    border: none;
}