.login-parent-container {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  height: 100vh;
}
.login-img-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.login-img-logo img {
  width: 202.81px;
  height: 60px;
}

.form-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ababab;
  margin: 100px 0 0 0;
  background-color: white;
}

.form-child {
  padding: 100px 20px;
}

.form-child h3 {
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
}

.signIn-btn {
  padding: 20px;
  display: flex;
}

.btn.btnsingIn {
  width: 461px;
  height: 51px;
}
.btn-secondary.btnsingIn {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  border-radius: 57px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.signIn-p {
  text-align: center;
}

.icon {
  float: left;
}

.p {
  text-align: center;
  font-family: Montserrat;
}
